<% wizard_steps.each do |s| %>
  <p>
    <%= "#{s} step is the current step"    if current_step?(s)  %><br />
    <%= "#{s} step is a past step"         if past_step?(s) %><br />
    <%= "#{s} step is a future step"       if future_step?(s)   %><br />
    <%= "#{s} step was the previous step"  if previous_step?(s)     %><br />
    <%= "#{s} step is the next step"       if next_step?(s)     %><br />
  </p>
<% end %>
